In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_1 = pd.read_excel('./附件3：长春市9个区交通网络数据和主要小区相关数据.xlsx', sheet_name=2)
df_1

      小区编号  小区栋数  小区户数（户）  小区人口数（人）     小区横坐标      小区纵坐标   街道编号 所属区域
0        1    11     1060      2417  57.90250  62.132333  C0035  宽城区
1        2    37     4171      9080  51.79225  61.606667  C0048  宽城区
2        3     3      480      1333  54.80225  54.881000  C0010  宽城区
3        4    19     1093      2658  54.21575  67.842333  C0053  宽城区
4        5    15     1330      3033  56.73050  61.479333  C0035  宽城区
...    ...   ...      ...       ...       ...        ...    ...  ...
1404  1405     5      231       908  25.50975  34.506333  I0032  汽开区
1405  1406     4      267       744  35.64725  40.527333  I0008  汽开区
1406  1407     2      185       727  26.07375  36.628333  I0008  汽开区
1407  1408     3      115       320  33.62550  36.866000  I0008  汽开区
1408  1409     1       48       134  45.32250  42.283000  I0007  汽开区

[1409 rows x 8 columns]

In [3]:
a1=pd.DataFrame(df_1.groupby("所属区域")['小区栋数'].sum())
a1

          小区栋数
所属区域
二道区       1820
净月区       1507
南关区       2336
宽城区       1524
朝阳区       3740
汽开区       1171
经开区        789
绿园区       2198
长春新区(高新)  2116

In [4]:
a2=pd.DataFrame(df_1.groupby("所属区域")['小区户数（户）'].sum())
a2

          小区户数（户）
所属区域
二道区        166428
净月区         85748
南关区        183877
宽城区        128899
朝阳区        219874
汽开区         81675
经开区         76909
绿园区        155261
长春新区(高新)   141780

In [5]:
a3=pd.DataFrame(df_1.groupby("所属区域")['小区人口数（人）'].sum())
a3

          小区人口数（人）
所属区域
二道区         405784
净月区         204056
南关区         462146
宽城区         306143
朝阳区         548179
汽开区         193462
经开区         189240
绿园区         372541
长春新区(高新)    338274

In [6]:
a1.to_excel('./小区统计/1.xlsx')
a2.to_excel('./小区统计/2.xlsx')
a3.to_excel('./小区统计/3.xlsx')